:root{
    --main-blue: #0000ff;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
    }
    
    h1{
        text-align: center;
        color: blue;
    }
    
    .todo_container{
        max-width: 400px;
        margin: 0 auto;
        background: aqua;  
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    }
    
    .input_container {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background-color: white;
    }
    
    .todo_input {
        border: none;
        padding: 15px;
        border-radius: 20px;
        width: 100%;
    }
    
    .todo_input:focus {
        outline: none;
    }
    
    #add-task-btn {
        border: none;
        padding: 15px;
        border-radius: 20px;
        background-color: var(--main-blue);
        color: white;
        
    }